PORT=3030
CLIENT_URL=http://localhost:3000,https://htpetshop.vercel.app
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
ACCESS_TOKEN=<your_access_token_secret>
REFRESH_TOKEN=<your_refresh_token_secret>
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=180
